*{
	margin: 0;
	text-decoration:none;
	list-style: none;
	box-sizing: border-box;
}

nav.header_navbar{
	background: #92DFF3;
	height: auto;
	width: 80%;
	margin: auto;
	padding: 0;
}

label.logo{
	color: white;
	font-size: 33px;
	line-height: 80px;
	padding: 0 100px;
	font-weight: bold;
	font-family: matura mt script capitals;
}
nav ul.header_navbar{
	float: right;
	margin-right: 20px;
}
nav ul li.header_navbar{
	display:inline-block;
	line-height: 80px;
	margin: 0 5px;
}
nav ul li a.header_navbar{
	color: white;
	font-size: 17px;
	text-transform:uppercase;
	font-family:franklin gothic medium;
}
a:hover.header_navbar{
	background: #00AAE4;
	transition: .5s;
}

.checkbtn{
	font-size: 30px;
	color: white;
	float: right;
	line-height: 80px;
	margin-right: 40px;
	cursor: pointer;
	display: none;
}


#check_navbar{
	display: none;
}

@media (min-width: 859px) and (max-width: 1180px){
	.checkbtn{
		display: block;
	}
	nav.header_navbar{
		width: 90%;
	}
	
	ul.header_navbar{
		margin: auto;
		position: fixed;
		width: 90%;
		height: calc(100vh - 80px);
		background: #2c3e50;
		bottom: -100%;
		text-align: center;
		transition: all .3s;
	}
	nav ul li.header_navbar{
		display: block;
		margin: 0 5px;
		line-height: 80px;
	}
	a:hover.header_navbar, a.active.header_navbar{
		background: none;
		color: #0082e6;
	}
	
	#check_navbar:checked ~ ul.header_navbar{
		bottom: 0;
	}
}

@media (max-width: 858px){
	.checkbtn{
		display: block;
	}
	label.logo{
		font-size:30px;
	}
	nav.header_navbar{
		width: 100%
	}
	ul.header_navbar{
		margin: auto;
		position: fixed;
		width: 100%;
		height: 100vh;
		background: #2c3e50;
		top:80px;
		left: -100%;
		text-align: center;
		transition: all .5s;
	}
	nav ul li.header_navbar{
		display: block;
		margin: 50px 0;
		line-height: 30px;
	}
	nav ul li a.header_navbar{
		font-size:20px;
	}
	a:hover.header_navbar, a.active.header_navbar{
		background: none;
		color: #0082e6;
	}
	
	#check_navbar:checked ~ ul.header_navbar{
		left: 0;
	}
	
}	

